/* VARIABLES */

// Colors
:root{
  --primary:#f0f0f0;
}
$black: #000;
$dGrayBrand: #3C3A33;
$lGrayBrand: #615f5d;
$dRedBrand: #972723;
$lRedBrand: #c33732;
$lRedBrand2: #AC3F2F;
$blueBrand: #32476f;
$white: #FFF;

$txtGray: #dfdfdf;

// Global Font
$fontFamily:'Poppins', sans-serif;
$baseFont: 16;

// Loader
$bgLoader: $black;
$colorLoader: $white;

$widthLoader: 100px;

// -- to animation
$colorLoader1: red;
$colorLoader2: green;
$colorLoader3: purple;
$colorLoader4: yellow;

// Modal
$bgModal: $black;
$maxWModal: 1200px;
$minHModal: 200px;

/* VARIABLES */

// MEDIAQUERIES
$mediaqueries: (
  hover: "(hover: hover)",
  ie: "screen and (-ms-high-contrast: active), (-ms-high-contrast: none)",
  safari: "screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)",
  safari2: "not all and (min-resolution:.001dpcm)",
  safari5: "only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2)",
  safari6s: "only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)",
  safari6p: "only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3)",
  safariX: "only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3)",
  mobS4: 320,
  mobS3: 360,
  mobS2: 480,
  mobS: 640,
  mob: 767,
  tabS: 820,
  tab: 991,
  lapS3: 1024,
  lapS2: 1199,
  lapS: 1280,
  lap: 1367,
  deskS: 1440,
  desk: 1560,
  deskB: 1680
);

// SUPPORTS
$supports: (
  edge: "(-webkit-appearance:none)"
);
/* iOS 11.0: supports constant() css function. (Assume all other inset vars are supported.) */
@supports (padding-top: constant(safe-area-inset-top))  {
  :root {
      --safe-area-inset-top:      constant(safe-area-inset-top, 0);
      --safe-area-inset-right:    constant(safe-area-inset-right, 0);
      --safe-area-inset-bottom:   constant(safe-area-inset-bottom, 0);
      --safe-area-inset-left:     constant(safe-area-inset-left, 0);
  }
}
/* iOS 11.2 and latest Chrome webviews support the env() css function. (Assume all other inset vars are supported.) */
@supports (padding-top: env(safe-area-inset-top))  {
  :root {
      --safe-area-inset-top:      env(safe-area-inset-top, 0);
      --safe-area-inset-right:    env(safe-area-inset-right, 0);
      --safe-area-inset-bottom:   env(safe-area-inset-bottom, 0);
      --safe-area-inset-left:     env(safe-area-inset-left, 0);
  }
}


p{
  padding: 0px;
  margin:0px
}
a{
  text-decoration: none;
}
// ion-item{
//   margin: 0px;
//   padding: 0px;
// }
:focus{
  outline: none;
}
// ion-menu-button{
//   color: var(--coffe-light);
// }
// ion-back-button{
//   --box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.18) !important;
// }
