form {

  input[type='text'],
  input[type='password'],
  input[type='date'],
  input[type='phone'],
  input[type='number'],
  input[type='email'] {
    @include placeholder {
      // Placeholder styles here ↓ ↓ ↓
    }
  }

  input[type='number'] {

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__box {
    width: 100%;
    position: relative;
  }

  &--login {
    max-width: 400px;
    margin: auto;
    padding: 40px 35px;
    box-shadow: 0 2px 6px rgba(0,0,0,.16);
    border-radius: 10px;

    .form {
      &__title {
        font-size:toRem(20);
        text-transform: uppercase;
        margin-bottom: 20px;
      }
    }
  }
  &--stepper{
    .form__list{
      width: 100%;

    }
    .form__box{
      padding: 10px;
    }
  }
}

.error-msg {
  color: $lRedBrand;
  font-size: 12px;
  position: absolute;
  bottom: -15px;
  left: 0;
}
