
@font-face {
  font-family: 'Quicksand-Regular';
  src:  url('/assets/fonts/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Quicksand-Regular.otf')  format('opentype'),
        url('/assets/fonts/Quicksand-Regular.woff') format('woff'),
        url('/assets/fonts/Quicksand-Regular.ttf')  format('truetype'),
        url('/assets/fonts/Quicksand-Regular.svg#Quicksand-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand-Light';
  src:  url('/assets/fonts/Quicksand-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Quicksand-Light.otf')  format('opentype'),
        url('/assets/fonts/Quicksand-Light.woff') format('woff'),
        url('/assets/fonts/Quicksand-Light.ttf')  format('truetype'),
        url('/assets/fonts/Quicksand-Light.svg#Quicksand-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src:  url('/assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Montserrat-Regular.otf')  format('opentype'),
        url('/assets/fonts/Montserrat-Regular.woff') format('woff'),
        url('/assets/fonts/Montserrat-Regular.ttf')  format('truetype'),
        url('/assets/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src:  url('/assets/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Montserrat-SemiBold.otf')  format('opentype'),
        url('/assets/fonts/Montserrat-SemiBold.woff') format('woff'),
        url('/assets/fonts/Montserrat-SemiBold.ttf')  format('truetype'),
        url('/assets/fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}



.taC {
	text-align: center;
}
 
.taR {
	text-align: right;
}

.taL {
	text-align: left;
}

.taJ {
	text-align: justify;
}
$ftQuickR: "Quicksand-Regular";
$ftQuickL:"Quicksand-Light";
$ftMontserratR:"Montserrat-Regular";
$ftMontserratSB:"Montserrat-SemiBold";