form {

  input[type='text'],
  input[type='password'],
  input[type='date'],
  input[type='phone'],
  input[type='number'],
  input[type='email'] {
    @include placeholder {
      // Placeholder styles here ↓ ↓ ↓
    }
  }

  input[type='number'] {

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}

.form {

  width: 100%;


  &--information {
    @include flex(flex-start, flex-start);

    .form {
      &__title {
        @include fontSize(25);
        text-transform: uppercase;
        color: $blueBrand;
        padding-bottom: 50px;

        @media #{$mediaMobile} {
          @include fontSize(20);

        }
      }

      &__box {
        width: 50%;
        min-height: 50px;
        margin-bottom: 25px;
        padding-right: 15px;
        position: relative;

        @media #{$mediaMobile} {
          width: 100%;
        }

        &--full {
          width: 100%;
        }
      }

      &__input,
      &__select,
      &__textarea {
        width: 100%;
        min-height: inherit;
        padding: 10px;
        border: none;
        border-bottom: 1px solid rgba($lGrayBrand, .5);
        color: $dGrayBrand;
        font-family: $ftMontserratSB;

        @include placeholder {
          color: currentColor;
        }

        &.no-valid {
          border-color: $lRedBrand;
        }
      }

      &__textarea {
        min-height: 110px;
        resize: none;
        border: 1px solid rgba($lGrayBrand, .5);
      }

      &__bottom {
        width: 100%;
        text-align: right;
        padding-right: 15px;
      }
    }
  }

  &--newsletter {
    // @include flex(flex-start, flex-start);

    .form {
      &__title {
        @include fontSize(20);
        text-transform: uppercase;
        padding-bottom: 10px;
        font-family: $ftQuickL;

        @media #{$mediaMobile} {
          @include fontSize(16);
        }

        p {
          margin: 0;
        }
      }

      &__box {
        width: 100%;
        min-height: 30px;
        margin-bottom: 5px;
        position: relative;
      }

      &__input {
        width: 100%;
        min-height: inherit;
        padding: 10px;
        padding-right: 52px;
        border: none;
        border-bottom: 1px solid rgba($white, .2);
        color: $white;
        font-family: $ftMontserratR;
        background: transparent;

        @include placeholder {
          color: currentColor;
        }
      }

      &__submit-mask {
        cursor: pointer;
        position: absolute;
        display: flex;
        top: 0;
        right: 15px;
        width: 35px;
        height: 35px;
        padding: 4px;

        input {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          opacity: 0;
          z-index: -1;
        }
      }

      &__terms {
        font-size: 12px;
      }
    }
  }

  &--search {
    margin-left: 10px;
    max-width: 300px;

    .form {

      &__box {
        width: 100%;
        min-height: 30px;
        margin-bottom: 5px;
        position: relative;

        @media #{$mediaMobile} {
          width: 60px;
          margin-bottom: 0;
        }
      }

      &__input {
        width: 100%;
        min-height: inherit;
        padding: 10px;
        padding-right: 52px;
        border: none;
        border-bottom: 1px solid rgba($dGrayBrand, .5);
        color: $dGrayBrand;
        font-family: $ftMontserratR;
        background: transparent;

        @include placeholder {
          color: currentColor;
        }

        @media #{$mediaMobile} {
          opacity: 0;
          width: 0;
        }
      }

      &__submit-mask {
        cursor: pointer;
        position: absolute;
        display: flex;
        top: 0;
        right: 15px;
        width: 30px;
        height: 30px;
        padding: 4px;

        input {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          opacity: 0;
          z-index: -1;
        }
      }

    }
  }
}

.error-msg {
  color: $lRedBrand;
  font-size: 12px;
  position: absolute;
  bottom: -15px;
  left: 0;
}
