
<mat-horizontal-stepper class="stepperBox" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form autocomplete="off" class="form form--stepper" [formGroup]="firstFormGroup" >
      <ng-template matStepLabel>Datos personales del paciente</ng-template>
      <mat-grid-list class="form__list" cols="2" rowHeight="60">
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box">
            <mat-label>Nombres</mat-label>
            <input matInput placeholder="Nombres" formControlName="nombre" required>
          </mat-form-field>
        </mat-grid-tile>
        <!-- form box  -->
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Apellidos" formControlName="apellido" required>
          </mat-form-field>
        </mat-grid-tile>
        <!-- form box  -->
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box">
            <mat-label>Tipo de documento</mat-label>
            <input matInput placeholder="Tipo de documento" formControlName="tipo_doc" required>
          </mat-form-field>
        </mat-grid-tile>
        <!-- form box  -->
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box">
            <mat-label>Número de documento</mat-label>
            <input type="tel" matInput placeholder="Número de documento" formControlName="documento" required>
          </mat-form-field>
        </mat-grid-tile>
        <!-- form box  -->
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box">
            <mat-label>Edad</mat-label>
            <input type="tel" matInput placeholder="Edad del paciente" formControlName="edad" required>
          </mat-form-field>
        </mat-grid-tile>
        <!-- form box  -->
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box">
            <mat-label>Habitación</mat-label>
            <input type="tel" matInput placeholder="Número de habitación" formControlName="habitacion" required>
          </mat-form-field>
        </mat-grid-tile>
        <!-- form box  -->
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box">
            <mat-label>Eps</mat-label>
            <input type="tel" matInput placeholder="Eps del paciente" formControlName="eps" required>
          </mat-form-field>
        </mat-grid-tile>
        <!-- form box  -->
      </mat-grid-list>
      <div>
        <button mat-button matStepperNext (click)="onClick()">Continuar</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Datos personales del acudiente">
    <form [formGroup]="secondFormGroup">
      <mat-grid-list class="form__list" cols="2" rowHeight="60">
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box">
            <mat-label>Nombres</mat-label>
            <input matInput placeholder="Nombres" formControlName="nombre" required>
          </mat-form-field>
        </mat-grid-tile>
        <!-- form box  -->
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Apellidos" formControlName="apellido" required>
          </mat-form-field>
        </mat-grid-tile>
        <!-- form box  -->
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box">
            <mat-label>Tipo de documento</mat-label>
            <input matInput placeholder="Tipo de documento" formControlName="tipo_doc" required>
          </mat-form-field>
        </mat-grid-tile>
        <!-- form box  -->
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box">
            <mat-label>Número de documento</mat-label>
            <input type="tel" matInput placeholder="Número de documento" formControlName="documento" required>
          </mat-form-field>
        </mat-grid-tile>
        <!-- form box  -->
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box">
            <mat-label>Dirección</mat-label>
            <input type="text" matInput placeholder="Dirección acudiente" formControlName="direccion" required>
          </mat-form-field>
        </mat-grid-tile>
        <!-- form box  -->
        <!-- form box  -->
        <mat-grid-tile>
          <mat-form-field class="form__box">
            <mat-label>Correo electrónico</mat-label>
            <input type="email" matInput placeholder="usuario@ejemplo.com" formControlName="correo" required>
          </mat-form-field>
        </mat-grid-tile>
        <!-- form box  -->
      </mat-grid-list>
      <div>
        <button mat-button matStepperPrevious>Regresar</button>
        <button mat-button matStepperNext>Continuar</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Terminar</ng-template>
    <p class="taC mb40">Resumen del registro en construcción</p>

    <button  mat-flat-button type="button" (click)="handleRegisterPatient(firstFormGroup.value, secondFormGroup.value)">Terminar registro</button>
    <div>
      <button mat-button matStepperPrevious>Volver</button>
      <button mat-button (click)="stepper.reset()">Reiniciar</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
