<mat-toolbar class="toolbar" color="primary">
  <button mat-icon-button class="example-icon" aria-label=" icon-button with menu icon">
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <span> Abuesoft</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #sidenav class="sidenav" mode="over">
    <mat-nav-list class="sidenav-item">
        <a *ngFor="let item of menuOptions"
        mat-list-item
        [routerLink]="[item.route]"
        routerLinkActive="sidenav-item-active">
        <mat-icon matListIcon> {{ item.icon }} </mat-icon>
        {{item.name}}
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content-wrapper">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
